ul{
    list-style-type: none
}

a{
    text-decoration: none;
    color: white;
    
}

.header-container{
    display: flex;
    /* margin-right: auto; */
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
    align-items: center;
}

.header-container h2{
    margin: 0;
}

.header-links{
    display: flex;
    margin: 0;
    gap: 16px;
    padding: 20px;
    margin-left: 20px;

}

.header-container h2{
    color: #F9FAF8;
    padding: 10px;
    font-size: 24px;

}

.hero-header-container{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
    flex: none;
}

.hero{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 100px 100px 100px 100px;
    flex: none;
    gap: 16px;
    
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Getting the hero image smaller to fit in the container */
.hero img{
    max-width: 400px; /*Sets upper limit */
    width: 100%; /*can scale down naturally */
    height: auto;
    object-fit: contain;
    flex: 1 1 300px; /* Image takes at least 300px before wrapping */

}

.hero-text{
    display: flex;
    flex-direction: column;
    /* flex:auto;
    max-width: 25%; */
    /* margin-top: 100px;
    margin-bottom: 100px; REmove to add padding*/
    padding: 20px 0;
    flex: 2;
    min-width: 250px;
}

/* Ensure that the hero text and hero img stay equal and equal shar eof space */
.hero-text {
    flex: 1 1 300px;
    max-width: 500px;
}

/* Keeps image resonable but not forcing layout break */
.hero img{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    flex: 1;
    min-width: 200px; /* Keeps picture small but allows text to not be cut off */
}

.hero-text h2{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

/* Get all the pictures the same size to cover their squares */
.picture-row img{
    float: center;
    width: 200px;
    height: 200px;
    object-fit: cover;

}

/* Make the picture row a flexbox */
.picture-row{
    display: flex;
    gap: 16px;
    flex-wrap: wrap; /* Added this to get first picture not to cutoff */
    justify-content: space-between;
}

/* .picture-row, .headshot1-text img{
 flex: 1;
    REMOVED AS IT WAS CAUSING ISSUES WITH PICTURES BEING 100 x 100
    /* max-width: 50%; This line reduces the picture itself by 50% 
} */

.picture-container h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.picture-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot1-text img, .headshot2-text img,
.headshot3-text img, .headshot4-text img{
    border: 5px solid #3882F6;
    border-radius: 25px;
   
}

.headshot1-text, .headshot2-text,
.headshot3-text, .headshot4-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.headshot1-text p, .headshot2-text p,
.headshot3-text p, .headshot4-text p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
   
}

/* .picture-container .picture-row{
    align-self:stretch;
    REMOVED THIS LINE ADD BACK IF YOU WANT PICTURES TO STRETCH ACROSS PAGE
    
} */

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    width: 100%; /*Make quote container expnads the whole screen*/

}

.quote-container .quote-text blockquote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    max-width: 500px;
    margin-bottom: 0;
    flex: 1; /* Make quote container strectch the screen */
}

/* Citation of quote */
.quote-container .quote-text p2{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin-left: auto;
    font-family: "Red Hat Display", sans-serif; 
} 

.quote-text{
    display: flex;
    flex-direction: column;
    padding: 16px 32px 16px 32px;
}

.action-container{
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    max-height: 350px;

    
}

.action-button button{
    background-color: #3882F6;
    color: white;
    border-style: solid;
    border-color: white;
}
/* add this container to get quote and call to action aligned */
.action-quote-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}