ul{
    list-style-type: none
}

a{
    text-decoration: none;
    color: white;
    
}

.header-container{
    display: flex;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    /* background-color: #1F2937; */
}

.header-links{
    display: flex;
    margin-left: auto;
    gap: 16px;
}

.header-container h2{
    color: white;
    padding: 10px;
}

.hero-header-container{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.hero{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Getting the hero image smaller to fit in the container */
.hero img{
    max-width: 50%;

}
